.header{
	width: 100%;
	height: auto;
	background-color: #000000;
  color: #ffffff;
	font-family: Janson, "Times New Roman", serif;
	font-size: 4em;
	text-align: center;
	margin:0;
	padding-top: 20px;
	padding-bottom: 20px;
}

.ac-container input{
	overflow: hidden;
	position: relative;
	z-index: 10;
	transition:
	height: 0.3s ease-in-out,
	box-shadow: 0.6s linear;
}

.ac-container input:checked ~ article {
transition:
height 0.5s ease-in-out,
box-shadow 0.1s linear;
}

.search{
	float:right;
	margin:5;
}

.search_icon{
	width:55px;
	float:right;
	padding-top: 0;
	margin-top: 10px;
}

.menu_icon{
	width:100px;
	float:left;
	margin-top: 5px;
}

a:link, a:visited{
	font-family: "Proxima Nova", Helvetica, sans-serif;
	font-size: 1em;
	color:#000000;
	text-decoration:underline;
}

a:hover, a:active{
	font-family: "Proxima Nova", Helvetica, sans-serif;
	font-size: 1em;
	color:#F1B82D;
	text-decoration:underline;
}

.nav{
  font-family: "Proxima Nova", Helvetica, sans-serif;
  font-weight: bold;
  background-color: #DBD5CD;;
  color: #000000;
	width: auto;
	height: auto;
	list-style: none;
	text-decoration: none;
	background-clip: content-box;
	margin-left: -40px;
}
.nav a:link, .nav a:visited{
	font-family:"Proxima Nova", Helvetica, sans-serif;
	text-decoration: none;
	color:#000000;
}

.nav a:hover, .nav a:active{
	font-family:"Proxima Nova", Helvetica, sans-serif;
	color: #F1B82D;
	text-decoration: none;
}

.nav li{
	border-left: 2px solid #F1B82D;
	border-right: 2px solid #F1B82D;
	width: auto;
}

.nav2container{
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
	width: 100%;
}

.nav2 li{
	font-family: "Proxima Nova", Helvetica, sans-serif;
  font-weight: bold;
  background-color: #DBD5CD;
	height: auto;
	text-decoration: none;
	text-align: center;
	border-top: 2px solid #F1B82D;
	border-bottom: 2px solid #F1B82D;
	border-left: 2px solid #F1B82D;
	border-right: 2px solid #F1B82D;
	padding: 3px;
	align-self: center;
	flex-wrap: nowrap;
	flex-flow: row;
	flex-grow: 1;
}

/* Large */
.nav2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .nav2 {
    justify-content: space-around;
  }
}

/* Small screens */
@media all and (max-width: 500px) {
  .nav2 {
    flex-direction: row;
  }
}

#border-right{
	border-right: 2px solid #F1B82D;
}

li a{
	color: #000000;
	text-decoration: none;
	font-size: 1em;
	background-clip: content-box;
}

.border-top{
	border-top: 2px solid #F1B82D;
}

.border-bottom{
	border-bottom: 2px solid #F1B82D;
}

ul{
	list-style: none;
	background-clip: content-box;
}

h1{
	font-family: Janson, "Times New Roman", serif;
	font-size: 3em;
	margin: 15px;
}

h1 a:link{
	font-family: Janson, "Times New Roman", serif;
	color:#FFFFFF;
	text-decoration:underline;
}

h1 a:visited{
	color:#FFFFFF;
}

h1 a:hover, h1 a:active{
	font-family: Janson, "Times New Roman", serif;
	text-decoration:underline;
}

h2{
	font-family: Janson, "Times New Roman", serif;
	font-size: 3em;
	margin: 15px;
}

h3{
	font-family: Janson, "Times New Roman", serif;
	font-size: 1.5em;
	margin: 15px;
}

h4{
	font-family: Janson, "Times New Roman", serif;
	font-weight: bold;
	font-size: 1em;
	margin: 15px;
}

/*body{
  background-image: url("homepage.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	opacity:0.2;
	z-index:-5;
}*/

p{
  font-family: "Proxima Nova", Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: lighter;
  color: #000000;
	margin: 15px;
}

hr{
	display: block;
	height: 5px;
	width: auto;
	background-color: #F1B82D;
	border: 0;
	margin: 15px;
}

img{
	width: 400px;
	border-style: none;
	margin: 15px;
}

.newsimage{
	width: 300px;
	border-style: none;
}

.container{
	background-color: #DBD5CD;
}

.mug{
	width: 150px;
	border-style: none;
	margin: 15px;
	vertical-align:middle;
}

.imghome{
	display: flex;
	flex-flow: 1 auto;
	border-style: none;
}

.caption{
	font-size: .75em;
	font-family: Janson, "Times New Roman", serif;
	color: #000000;
	font-style: italic;
}

.footer{
  width: 100%;
  height: auto;
  background-color: #000000;
	color: #ffffff;
	text-align: left;
	font-style: italic;
  font-family: Janson, "Times New Roman", serif;
  font-size: .75em;
	padding-right: 5px;
}

a{
	font-family: "Proxima Nova", Helvetica, sans-serif;
	font-size: 1em;
	color:#84754E;
	text-decoration:underline;
}

.nav-arrow1{
	font-family:"Wingdings 3";
	font-size: 1em;
	float:right;
}

.nom-mug{
	width: 200px;
	padding: 5px;
	float:left;
}

@ms-viewport{
	width: device-width;
}

@media all and (max-width:600px){
	.mug{
		display: flex;
		flex-flow: column;
		flex: 1 auto;
	}
	p{
		display: flex;
		flex-flow: column;
		flex: 1 auto;
	}
	body{
		display: flex;
		flex-flow: column;
	}
}
