body {
	margin: auto 30px;
}

h1 {
	text-align: left;
	font-size: 2em;
}

.ac-container input{
	overflow: hidden;
	position: relative;
	z-index: 10;
	transition:
	height: 0.3s ease-in-out,
	box-shadow: 0.6s linear;
}

.ac-container input:checked ~ article {
transition:
height 0.5s ease-in-out,
box-shadow 0.1s linear;
}

.newsrooms {
	border: 2px solid #84754E;
	background-color: #DBD5CD;
	padding-left: 20px;
}

.search{
	float:right;
	margin:5;
}

.search_icon{
	width:55px;
	float:right;
	padding-top: 0;
	margin-top: 10px;
}


a:link, a:visited{
	font-family: "Proxima Nova", Helvetica, sans-serif;
	font-size: 1em;
	color:#000000;
	text-decoration:underline;
}

a:hover, a:active{
	font-family: "Proxima Nova", Helvetica, sans-serif;
	font-size: 1em;
	color:#84754E;
	text-decoration:underline;
}

header{
	display: flex;
	flex: 1 auto;
	flex-flow: row;
	flex-direction: row-reverse;
	justify-content: flex-end;
	width: auto;
	padding-bottom: 2px;
}

.headphoto{
	order: 1;
}

.menu-trigger {
	display: none;
}


.mainnav{
	order: 2;
	display: flex;
	flex-flow: row;
	flex: 3 auto;
  font-family: "Proxima Nova", Helvetica, sans-serif;
  font-weight: bold;
  color: #000000;
	height: auto;
	list-style: none;
	margin-top: 50px;
	margin-bottom: 30px;
	justify-content: space-around;
}


.sub-1, .sub-2, .sub-3, .sub-4 {
	display: none;
	text-align:center;
	text-decoration: none;
	margin:0px;
	padding:5px 0px;
	border-bottom: 1px solid #84754E;
	list-style-type: none;

}

.sub-1, .sub-2, .sub-3, .sub-4 a {
	font-size: 0.9em;
	font-weight: normal;

}

.parents, .parents-1, .parents-2, .parents-3, .parents-4 {

	display: block;
	border-right: 1px solid #84754E;
	width: 100px;
	text-align: center;
	list-style-type: none;
}

.mainnav a:link, .mainnav a:visited{
	font-family:"Proxima Nova", Helvetica, sans-serif;
	text-decoration: none;
	color:#000000;
}

.mainnav a:hover, .mainnav a:active{
	font-family:"Proxima Nova", Helvetica, sans-serif;
	color: #84754E;
	text-decoration: none;
}

#homemain {
	display: flex;
	flex-flow: row;
	margin-top: 20px;
}

.mainnav ul {
	padding: 0px;
	margin:0px;
}

.about-medal {
	display: flex;
	order:1;
	flex: 1 auto;
	flex-flow: column;
	border-right: 1.5px solid #84754E;
	max-width: 60%;
}

.twitter-timeline{
	order:2;
	flex: 1 auto;
}


.nav2container{
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
	width: 100%;
}

.nav2 li{
	font-family: "Proxima Nova", Helvetica, sans-serif;
  font-weight: bold;
  background-color: #DBD5CD;
	height: auto;
	text-decoration: none;
	text-align: center;
	border-top: 2px solid #84754E;
	border-bottom: 2px solid #84754E;
	border-left: 2px solid #84754E;
	border-right: 2px solid #84754E;
	padding: 3px;
	align-self: center;
	flex-wrap: nowrap;
	flex-flow: row;
	flex-grow: 1;
}


/* News page*/
.news-article{
	display: flex;
	flex-flow:column;
	padding-top: 20px;
}

.news-1, .news-2, .news-3, .news-4, .news-5, .news-6 {
	display:flex;
	flex-flow: row nowrap;
}

.newsimage {
	order:1;
	flex:1 auto;
}

.imagecaption{
	display:flex;
	flex-flow:column;
}

.caption{
	order:2;
	flex:1 auto;
}

/*.caption{
	order:2;
}*/

.newsimage img {
	width: 20%;
	height:10%;
}

/*.news{
	display: flex;
	flex:2 auto;
	order:4;
}*/

.news-title{
	/*order: 3;*/
	font-weight: normal;
	color: #84754E;
}

.news {
	font-size: 1em;
}

.read-more  {
	/*order:5;*/
	font-style: italic;
	font-size: 1em;
	margin: 15px;
}

.story{
	display:flex;
	flex-flow:column;
	flex:1 auto;
	order:2;
}


/* Large */
.nav2 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}


#border-right{
	border-right: 2px solid #84754E;
}

li a{
	color: #000000;
	text-decoration: none;
	font-size: 1em;
	background-clip: content-box;
}

ul{
	list-style: none;
	font-family: "Proxima Nova", Helvetica, sans-serif;
	font-size: 1.1em;
}

h1{
	font-family: Janson, "Times New Roman", serif;
	margin: 15px;
}

h1 a:link{
	font-family: Janson, "Times New Roman", serif;
	color:#FFFFFF;
	text-decoration:underline;
}

h1 a:visited{
	color:#FFFFFF;
}

h1 a:hover, h1 a:active{
	font-family: Janson, "Times New Roman", serif;
	text-decoration:underline;
}

h2{
	font-family: Janson, "Times New Roman", serif;
	font-size: 3em;
	margin: 15px;
}

h3{
	font-family: Janson, "Times New Roman", serif;
	font-size: 1.5em;
	margin: 15px;
}

h4{
	font-family: Janson, "Times New Roman", serif;
	font-weight: bold;
	font-size: 1em;
	margin: 8px;
}

p{
  font-family: "Proxima Nova", Helvetica, sans-serif;
  font-size: 1.1em;
  font-weight: lighter;
  color: #000000;
	margin: 15px;
}

hr{
	display: block;
	height: 2px;
	width: 100%;
	background-color: #84754E;
	border: 0;
}

.division {display: none;}

img{
	width: 400px;
	border-style: none;
	margin: 15px;
}

.imghome{
	display: flex;
	flex: 1 auto;
	width: 90%;
}

/*.newsimage{
	width: 300px;
	border-style: none;
}*/

.container{
	background-color: #DBD5CD;
}

.mug{
	width: 150px;
	border-style: none;
	margin: 15px;
	vertical-align:middle;
}

.caption{
	font-size: .75em;
	font-family: Janson, "Times New Roman", serif;
	color: #000000;
	font-style: italic;
	float: left;
}

.footer{
  width: 100%;
  height: auto;
  background-color: #000000;
	color: #ffffff;
	text-align: left;
	font-style: italic;
  font-family: Janson, "Times New Roman", serif;
  font-size: .75em;
	padding-right: 5px;

}

a{
	font-family: "Proxima Nova", Helvetica, sans-serif;
	font-size: 1em;
	color:#84754E;
	text-decoration:underline;
}



.box {
	background:#DBD5CD;
	width: 300px;
	padding: 10px;
	margin: 10px;
	float:center;
	color: white;
	border: 2px solid #84754E;
}

.bxslider {
	display:flex;
	flex-flow: row;
}

.nom-mug{
	width: 200px;
	padding: 5px;
	float:left;
	flex: wrap;
}

	@media all and (max-width: 800px) {
	  .nav2 {
	    justify-content: space-around;
	  }
		.twitter-timeline{
			display: flex;
			flex-flow: row;
			order: 2;
			flex: 1 100%;
		}
		.nom-mug{
			width: 200px;
			padding: 5px;
			float:left;
			flex: wrap;
		}
	}

	@media all and (max-width:600px){

		.mug{
			display: flex;
			flex-flow: column;
			flex: 1 auto;
		}
		.nom-mug{
			width: 90%;
			padding: 5px;

		}
		img {
			width: 100%;
		}
		/*p{
			display: flex;
			flex-flow: column;
			flex: 1 auto;
		}*/
		.nav2 {
			flex-direction: row;
		}
		.twitter-timeline{
			display: flex;
			flex-flow: column;
			order:1;
			flex: 1 100%;
		}

		.parents, .parents-1, .parents-2, .parents-3, .parents-4 {
		 border-right: none;
		 border-bottom: 1px solid ;
		 padding-top: 10px;
		 text-align: center;
	 }

	#nav {
			display: flex;
			order:2;

		}

		.mainnav {
	   	flex-flow: column;
	  	padding: 20px;

	   	margin: 0px;
	   	display: none;
	  	position: absolute;
     background: rgba(255, 255, 255, 0.95);
	 }

	.menu-trigger {
		display: flex;
		order:3;
		flex-flow: column;
		flex:1 auto;
		font-size: 2em !important; /* please do not delete "!important"*/
		text-decoration: none !important;/* please do not delete "!important"*/
		color: #8C742A !important;
		width: 2em;
	}

	.parents, .parents-1, .parents-2, .parents-3, .parents-4 {
	border-right: none;
	border-bottom: 1px solid #F1B82D;
	padding-top: 10px;
	text-align: center;

	}

	.sub-1, .sub-2, .sub-3, .sub-4 {
		font-style: italic;
	}

	.headphoto{
		order: 1;
		flex:2 auto;
		width: 100%;
		padding-left: 0px;
	}

.headphoto img{
	width: 80%;
	margin: 0px;
}

		#homemain{
			display: flex;
			flex-flow: column;
		}
		.about-medal{
			max-width: 90%;
			border-right: none;
		}

		.news-article {
			text-align: left;
		}

.division {
	display: block;
	text-align: center;
	text-decoration: none !important;
	font-size: 20px !important;
	color: #84754E !important;
}

.newsimage {
	padding-left: 0px;
}

.news-1, .news-2, .news-3, .news-4, .news-5, .news-6 {
	display:flex;
	flex-flow: column;
}

	}




	.footer {
		flex: 1 100%;
		padding-right: 10px;
	}
